.button {
  flex-flow: column;
  justify-content: center;
  align-content: center;
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: #111440;
  color: #F28322;
  font-weight: 600;
  transition: background-color 1s;

  &:hover {
    background-color: #F28322;
    color: #111440;
  }
}
